language: node_js
node_js:
- '11'
- '10'
- '8'
stages:
- test
- name: deploy
  if: branch = master
env:
  global:
  - REPO=hk-address-parser-lib
  - ORG=g0vhk
cache: npm
deploy:
  provider: script
  script: "./deploy.sh"
  skip_cleanup: true
notifications:
  email:
    recipients:
    - julio@packagecloud.io
    on_success: change
    on_failure: always
